<div>
    <h1>Biosample Database</h1>
    <div class="row">
        <form>
            <fieldset>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" 
                               class="form-control"
                               placeholder="Start your search"
                               v-model="searchTerm"
                               @keyup="querySamples | debounce 300">
                    </div>          
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button type='submit' 
                                id="search" 
                                class="btn btn-primary"
                                style="width: 100%"
                                @click="querySamples">

                            Search
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div v-show="queryTerm && resultsNumber <= 0">
        <div class="row">
            <h3>
                No results have been found for <i>{{queryTerm}}</i>
                
                <span class="small"><a href="#" @click="queryParams.useFuzzy = true" @click="querySamples()">Try for similar terms?</a></span>
            </h3>
        </div>
    </div>
    <div v-show="queryTerm && resultsNumber > 0">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8"><h3>Search results for: <i>{{queryTerm}}<span v-if="useFuzzy" class="small"> (and related terms)</span></i></h3></div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Refine search results</h3>
                        </div>
                        <div class="panel-body">
                            <form>
                                <label for="fuzzy-search">Search for similar terms</label>
                                <input type="checkbox" id="fuzzy-search" name="fuzzy-search" 
                                       v-model="useFuzzy" 
                                       v-on:change="querySamples"> 
                            </form>
                            <component is="facet" title="Content Type" 
                                    :keys="facets.types.keys" 
                                    :values="facets.types.vals">
                            </component>
                            <component is="facet" title="Organism" 
                                    :keys="facets.organisms.keys" 
                                    :values="facets.organisms.vals">
                            </component>
                            <component is="facet" title="Organ" 
                                    :keys="facets.organs.keys" 
                                    :values="facets.organs.vals">
                            </component>
                            <component is="facet" title="Test" :keys="facets.test.keys" :values="facets.organs.vals">
                            </component>
                            <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>Content type</h5>
                                </div>
                                <div class="panel-body">
                                    <ul v-for="key in facets.types.keys">
                                        <li>
                                           <span class="h5" >{{key}}</span>
                                           <span class="label label-info">{{facets.types.vals[$index]}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>Organism</h5>
                                </div>
                                <div class="panel-body">
                                    <ul v-for="key in facets.organisms.keys">
                                        <li>
                                           <span class="h5" >{{key}}</span>
                                           <span class="label label-info">{{facets.organisms.vals[$index]}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>Organ</h5>
                                </div>
                                <div class="panel-body">
                                    <ul v-for="key in facets.organs.keys">
                                        <li>
                                           <span class="h5" >{{key}}</span>
                                           <span class="label label-info">{{facets.organs.vals[$index]}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <component is="pagination"
                                           v-bind:total-results="resultsNumber"
                                           v-bind:displayed-results="samplesToRetrieve"
                                           style="float:right">
                                    </component>    
                                </div>
                                <div class="col-md-6">
                                    <component is="items-dropdown">
                                    </component>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-md-8">
                <component is="biosamples-list" 
                       v-bind:elements="biosamples">
                </component>                        
            </div>
        </div>
    </div>
</div>