<div class="col-xs-12">
	<div class="row">
			<div class="col-xs-4">Pagination</div>
			<div class="col-xs-4 text-center">Current Info</div>
			<div class="col-xs-4 text-right">Items dropdown</div>	
		</div>
	</div>
	<table class="col-xs table">
        <thead>
            <tr>
            	<th>Accession</th>
            	<th>Title</th>
            	<th>Samples</th>
            	<th>Database</th>
                <th v-for="title in columnTitles">
                    <a href="#" @click.prevent="sortBy(title)"
                    :class="{ 'active': sortKey === title }"
                    >{{title | capitalize}}</a>
                    <div class="triangle triangle-down"
                    :class="{ 'active': sortKey == title && ! reverseSort }"></div>
                    <div class="triangle triangle-up"
                    :class=" { 'active': sortKey == title && reverseSort }"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="element in elements | orderBy sortKey reverseSort">
                <td>{{element.getTitle()}}</td>
                <td>{{element.getType()}}</td>
                <td>{{element.getDescription()}}</td>
                <td>{{element.getReleaseDate()}}</td>
            </tr>
        </tbody>
    </table>
</div>
