<div class="col-xs-12 col-md-10">
	<h2>Welcome to BioSamples Database Help</h2>`
	<div class="row around-xs middle-md">
		<div class="row col-xs-12 col-sm-5 middle-xs between-xs" style="background-color: rgb(249, 243, 238); min-height: 100px">
	    	<img src="https://www.ebi.ac.uk/biosamples/assets/images/help/user.png" title="Find out more" width="40" height="40">
	    	<a href="search.html"><b>I'd like to browse or search BioSamples Database</b></a>
	    </div>
		<div class="row col-xs-12 col-sm-5 middle-xs between-xs" style="background-color: rgb(238, 249, 243); min-height: 100px">
	    	<img src="https://www.ebi.ac.uk/biosamples/assets/images/help/user.png" title="Find out more" width="40" height="40">
	    	<a href="search.html"><b> I'd like to submit data to BioSamples Database</b></a>
	    </div>
    </div>
</div>
<aside class="col-xs-12 col-md-2 last-md first-xs">
    <h3>Help</h3>
    <ul id="secondary-nav">
        <li class="active"><a href="index.html">Help home</a></li>
        <li><a href="search.html">Searching</a></li>
        <li><a href="submit.html">Submitting</a></li>
        <li><a href="api.html">Programatic interface</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="contact_us.html">Contact us</a></li>
    </ul>
</aside>